<template>

<div>
  <!-- Main Menu -->
        <main-menu></main-menu>

        <!-- Header Section Starts -->
        <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
         <breadcrumb-contact></breadcrumb-contact>

        <!-- Contact Info Section Starts -->
        <contact-info></contact-info>

        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>
        <!-- Footer Section Starts -->
        <footer-section></footer-section>


</div>



</template>

<script>

export default {
name: "contact",

}
</script>

<style scoped>

</style>
