<template>

        <div>
            <section class="contact-info-section padding-top-115">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>get in <span>touch</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-contact-info">
                            <div class="contact-info-icon">
                                <img src="assets/images/contact-info-1.png" alt="icon">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="contact-info-title margin-bottom-10">
                                <h4>phone us 24/7</h4>
                            </div>
                            <span>123-5874624</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-contact-info">
                            <div class="contact-info-icon">
                                <img src="assets/images/contact-info-2.png" alt="icon">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="contact-info-title margin-bottom-10">
                                <h4>visit us daily</h4>
                            </div>
                            <span>10 division st, new york, 1020</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-contact-info">
                            <div class="contact-info-icon">
                                <img src="assets/images/contact-info-3.png" alt="icon">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="contact-info-title margin-bottom-10">
                                <h4>mail us 24/7</h4>
                            </div>
                            <span>support@rumbok.com</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-contact-info">
                            <div class="contact-info-icon">
                                <img src="assets/images/contact-info-4.png" alt="icon">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="contact-info-title margin-bottom-10">
                                <h4>contact us</h4>
                            </div>
                            <span>sofftech-it.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Bottom Section Starts -->
        <section class="contact-bottom-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="map-area">
                            <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=uttara%2011+(SoftTech%20IT)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="contact-page-form">
                            <div class="contact-form-title">
                                <h3>write <span>to us</span></h3>
                            </div>
                            <form action="#">
                                <input type="text" placeholder="Your Name">
                                <input type="text" placeholder="Your Email">
                                <input type="text" placeholder="Your Website">
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="Write Your Message"></textarea>
                                <button type="submit" class="template-button">send a message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
</template>

<script>

export default {
name: "contact-info",

}
</script>

<style scoped>

</style>
