<template>

<div>
    <!-- Preloader Starts -->
    <div class="preloader" id="preloader" v-show="showloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

<Top-header></Top-header>
<Hero-Section></Hero-Section>
    <Feature-Section></Feature-Section>
    <Category-Section></Category-Section>
<Course-Section></Course-Section>
<CounterUp-Section></CounterUp-Section>
    <About-Section></About-Section>
    <Footer-Section></Footer-Section>
    <main-menu>
    </main-menu>

</div>



</template>

<script>
import Footer from "../../components/Footer";
export default {
name: "home",
    components: {Footer},
    created() {
    var self = this;
    setTimeout( function (){
        self.hidePreloader();
    }, 2000)
},
data(){
    return {
        showloader: true
    }
},
methods: {
    hidePreloader(){
        this.showloader = false;
    }
}
}
</script>

<style scoped>

</style>
