<template>

<div>
  <!-- Main Menu -->
        <main-menu></main-menu>
        <!-- Header Section Starts -->
        <header-section></header-section>
        <!-- Breadcrumb Section Starts -->
        <breadcrumb-buisness></breadcrumb-buisness>
        <!-- Course Category Section Starts -->
        <course-category></course-category>

        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>
       

        <!-- Footer Section Starts -->
     <footer-section></footer-section>
       



</div>



</template>

<script>

export default {
name: "business",
 
}
</script>

<style scoped>

</style>
