<template>
<div>
          

        <!-- Main Menu -->
         <main-menu></main-menu>

        <!-- Header Section Starts -->
        <header-section></header-section>
       
        <!-- Breadcrumb Section Starts -->
        <course-breadcrumb></course-breadcrumb>

        <!-- Course Section Starts -->
        <course-section></course-section>        
        

         <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <footer></footer>



</div>
</template>

<script>
export default {
    name: "course",

}
</script>


<style scoped>

</style>