<template>
 <section class="cta-section gradient-bg padding-top-60 padding-bottom-30">
            <div class="cta-shape">
                <img src="assets/images/plus-sign.png" alt="image" class="plus-sign item-rotate">
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="section-title margin-bottom-40">
                            <h2>enhance your skills with <span>best online course</span></h2>
                        </div>
                        <div class="cta-button">
                            <a href="#" class="template-button margin-right-20">start teaching</a>
                            <a href="#" class="template-button-2">start learning</a>
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-2 col-lg-6">
                        <div class="cta-image">
                            <img src="assets/images/cta-image.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

</template>

<script>
export default {
    name: "CTA-section",

}
</script>


<style scoped>

</style>