<template>

<div>
  <!-- Main Menu -->
        <main-menu></main-menu>

        <!-- Header Section Starts --> 
            <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <breadcrumb-course-detail></breadcrumb-course-detail>

        <!-- Course Details Section Starts -->
       <course-detail-section></course-detail-section>

        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <footer-section></footer-section>


</div>



</template>

<script>

export default {
name: "course-detail",

}
</script>

<style scoped>

</style>
