<template>
<div> 
        <!-- Main Menu -->
        
        <main-menu></main-menu>

        <!-- Header Section Starts -->
         <header-section></header-section>

         <!-- Breadcrumb Section Starts -->
         <login-breadcrumb></login-breadcrumb>

        <!-- Login Section Starts -->
        <login-section></login-section>

                <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <footer></footer>


</div>

</template>

<script>
export default {
    name: "login",

}
</script>
 

<style scoped>

</style>