<template>
<section class="login-section padding-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login-image">
                            <img src="assets/images/login-image.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login-form">
                            <h3>login to your <span>account!</span></h3>
                            <div class="google-button">
                                <a href="#" class="template-button"><i class="fa fa-google"></i> google</a>
                            </div>
                            <span class="separator">or</span>
                            <div class="login-tab">
                                <div class="tab">
                                    <ul>
                                        <li class="tab-one active">
                                            <a href="#" class="template-button-2">admin</a>
                                        </li>
                                        <li class="tab-second">
                                            <a href="#" class="template-button-2">instructor</a>
                                        </li>
                                        <li class="tab-three">
                                            <a href="#" class="template-button-2">student</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content margin-top-30">
                                <div class="tab-one-content lost active">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="loginEmail"><i class="fa fa-envelope"></i> Email Address</label>
                                            <input type="email" id="loginEmail" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label for="loginPassword"><i class="fa fa-lock"></i> Password</label>
                                            <input type="password" id="loginPassword" placeholder="Password">
                                        </div>
                                        <div class="checkbox-forgotpass-area">
                                            <div class="checkbox-part">
                                                <input type="checkbox" id="remember">
                                                <label for="remember"> remember me</label>
                                            </div>
                                            <div class="forgotpass-part">
                                                <a href="#">forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="login-button margin-top-20">
                                            <a href="#" class="template-button">login account</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-second-content lost">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="loginEmail2"><i class="fa fa-envelope"></i> Email Address</label>
                                            <input type="email" id="loginEmail2" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label for="loginPassword2"><i class="fa fa-lock"></i> Password</label>
                                            <input type="password" id="loginPassword2" placeholder="Password">
                                        </div>
                                        <div class="checkbox-forgotpass-area">
                                            <div class="checkbox-part">
                                                <input type="checkbox" id="remember2">
                                                <label for="remember2"> remember me</label>
                                            </div>
                                            <div class="forgotpass-part">
                                                <a href="#">forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="login-button margin-top-20">
                                            <a href="#" class="template-button">login account</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-three-content lost">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="loginEmail3"><i class="fa fa-envelope"></i> Email Address</label>
                                            <input type="email" id="loginEmail3" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label for="loginPassword3"><i class="fa fa-lock"></i> Password</label>
                                            <input type="password" id="loginPassword3" placeholder="Password">
                                        </div>
                                        <div class="checkbox-forgotpass-area">
                                            <div class="checkbox-part">
                                                <input type="checkbox" id="remember3">
                                                <label for="remember3"> remember me</label>
                                            </div>
                                            <div class="forgotpass-part">
                                                <a href="#">forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="login-button margin-top-20">
                                            <a href="#" class="template-button">login account</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: "login-section",

}
</script>


<style scoped>

</style>