<template>
<div>

        <!-- Main Menu -->
       <main-menu></main-menu>

        <!-- Header Section Starts -->
        <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <edu-breadcrumb></edu-breadcrumb>

        <!-- Course Category Section Starts -->
        <course-section></course-section>

        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <footer></footer>
</div>
</template>

<script>
export default {
    name: "education",

}
</script>


<style scoped>

</style>