<template>
        <div class="brand-home-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="brand-home-2-slider">
                            <div class="brand-single-slide">
                                <img src="assets/images/brand-1-home-2.png" alt="brand">
                            </div>
                            <div class="brand-single-slide">
                                <img src="assets/images/brand-2-home-2.png" alt="brand">
                            </div>
                            <div class="brand-single-slide">
                                <img src="assets/images/brand-3-home-2.png" alt="brand">
                            </div>
                            <div class="brand-single-slide">
                                <img src="assets/images/brand-4-home-2.png" alt="brand">
                            </div>
                            <div class="brand-single-slide">
                                <img src="assets/images/brand-5-home-2.png" alt="brand">
                            </div>
                            <div class="brand-single-slide">
                                <img src="assets/images/brand-3-home-2.png" alt="brand">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
</template>

<script>
export default {
    name: "brand-home",

}
</script>


<style scoped>

</style>