<template>
<!-- Categorry Home 02 Starts -->
        <section class="category-home-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h2 class="home-2">popular <span>categories</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-1-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">photography</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-2-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">web design</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-3-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">blog wrining</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-4-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">after effects</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-5-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">marketing</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-6-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">education</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-7-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">UI UX design</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="web-development.html"><div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-1-home-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-content">
                                <div class="category-title">
                                    <h4 class="home-2">web software</h4>
                                </div>
                                <span>03 course(S)</span>
                            </div>
                        </div></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="category-section-link">
                            <h6>Dont's see wht you're looking for? <a href="web-development.html">See all categories.</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</template>

<script>
export default {
    name: "category",

}
</script>


<style scoped>

</style>