<template>
 <section class="countdown-section">
            <div class="container">
                <div class="common-section">
                    <div class="counter-shape">
                        <img src="assets/images/round-shape-2.png" alt="shape" class="round-shape-2">
                        <img src="assets/images/plus-sign.png" alt="shape" class="plus-sign item-rotate">
                        <img src="assets/images/round-shape-3.png" alt="shape" class="round-shape-3">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="countdown-left">
                                <h2 class="home-2">upcoming our free <span>web design</span> course!</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="countdown-right">
                                <ul class="countdown">
                                    <li>
                                        <span class="days">00</span>
                                        <p class="days_ref">days</p>
                                    </li>
                                    <li class="separator">:</li>
                                    <li>
                                        <span class="hours">00</span>
                                        <p class="hours_ref">hours</p>
                                    </li>
                                    <li class="separator">:</li>
                                    <li>
                                        <span class="minutes">00</span>
                                        <p class="minutes_ref">minutes</p>
                                    </li>
                                    <li class="separator">:</li>
                                    <li>
                                        <span class="seconds">00</span>
                                        <p class="seconds_ref">seconds</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: "counter-up",

}
</script>


<style scoped>

</style>