<template>
 <div class="category-drawer">
            <div class="drawer-crossbar">
                <i class="fa fa-times"></i>
            </div>
            <div class="category-logo">
                <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
            </div>
            <div class="category-menu">
                <ul>
                    <li><a href="web-development.html"><i class="fa fa-laptop"></i> web development</a></li>
                    <li><a href="education.html"><i class="fa fa-book"></i> education</a></li>
                    <li class="have-submenu"><a href="#"><i class="fa fa-graduation-cap"></i> business</a>
                        <ul class="sub-menu">
                            <li><a href="banking.html">banking sector</a></li>
                            <li><a href="corporate.html">corporate sector</a></li>
                            <li><a href="consulting.html">consulting</a></li>
                        </ul>
                    </li>
                    <li><a href="marketing.html"><i class="fa fa-pie-chart"></i> marketing</a></li>
                    <li><a href="photography.html"><i class="fa fa-camera"></i> photography</a></li>
                    <li><a href="music.html"><i class="fa fa-music"></i> music</a></li>
                </ul>
            </div>
            <div class="category-buttons margin-top-30 ml-4">
                <a href="course.html" class="template-button">start course</a>
            </div>
        </div>

</template>

<script>
export default {
    name: "drawer",

}
</script>


<style scoped>

</style>