<template>
        <section class="hero-home-2">
            <div class="hero-shape">
                <img src="assets/images/wing-shape.png" alt="shape" class="wing-shape">
            </div>
            <div class="hero-image">
                <img src="assets/images/hero-home-2.jpg" alt="image">
                <div class="video-play-button">
                    <a href="https://www.youtube.com/watch?v=8AGgbIQyqR8" class="button-video">
                        <i class="fa fa-play item-ripple"></i>
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="hero-content">
                            <h1 class="home-2"><span>learn new skills online find best courses</span> & become master</h1>
                            <div class="hero-description"><h6>hire proven pros with confidence using world largest remote talent platform.</h6></div>
                            <div class="hero-button">
                                <a href="course.html" class="template-button">start course <i class="fa fa-play-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>
<script>
export default {
    name: "hero-home",

}
</script>


<style scoped>

</style>