<template>
 <section class="course-home-2 padding-top-115 padding-bottom-90">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center margin-bottom-40">
                            <h2 class="home-2">see our <span>popular courses</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="popular-course-tab">
                            <ul>
                                <li class="active" data-filter="*">All course</li>
                                <li data-filter=".web">web design</li>
                                <li data-filter=".ux">UI UX design</li>
                                <li data-filter=".photography">photography</li>
                                <li data-filter=".marketing">marketing</li>
                                <li data-filter=".music">music</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row grid">
                    <div class="col-lg-4 col-md-6 grid-item marketing">
                        <div class="single-course-item">
                            <div class="course-image">
                                <img src="assets/images/course-image-1.png" alt="image">
                            </div>
                            <div class="course-content margin-top-30">
                                <div class="course-title">
                                    <h4 class="home-2">user experience design with adobe XD</h4>
                                </div>
                                <div class="course-instructor-rating margin-top-20">
                                    <div class="course-instructor">
                                        <img src="assets/images/course-instructor-1.png" alt="instructor">
                                        <h6>john doe</h6>
                                    </div>
                                    <div class="course-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>4.2(30)</span>
                                    </div>
                                </div>
                                <div class="course-info margin-top-20">
                                    <div class="course-view">
                                        <i class="fa fa-eye"></i>
                                        <span>25,000 views</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <div class="course-price-cart margin-top-20">
                                    <div class="course-price">
                                        <span class="span-big">$ 400.00</span>
                                        <span class="span-cross">$ 500.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-state">
                                <span class="heart-icon"><i class="fa fa-heart-o"></i></span>
                                <span class="title-tag">by instructor</span>
                                <div class="course-title margin-top-10">
                                    <h4 class="home-2"><a href="course-details.html">user experience design with adobe XD</a></h4>
                                </div>
                                <div class="course-price-info margin-top-20">
                                    <span class="best-seller">best seller</span>
                                    <span class="course-category"><a href="#">web design</a></span>
                                    <span class="course-price">$ 400.00</span>
                                </div>
                                <div class="course-info margin-top-30">
                                    <div class="course-enroll">
                                        <span>enrolled 0</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <p class="margin-top-20">Learn WordPress like a Professional! Start from the basics and go all the way to creating your own applications and website!</p>
                                <ul class="margin-top-20">
                                    <li><i class="fa fa-circle-o"></i><span>Lorem ipsum dolor sit amet.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Consectetur adipisicing elit.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Placeat dolore quaerat itaque.</span></li>
                                </ul>
                                <div class="preview-button margin-top-20">
                                    <a href="course-details.html" class="template-button">course preview</a>
                                    <a href="cart.html" class="template-button margin-left-10">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item ux">
                        <div class="single-course-item">
                            <div class="course-image">
                                <img src="assets/images/course-image-2.png" alt="image">
                            </div>
                            <div class="course-content margin-top-30">
                                <div class="course-title">
                                    <h4 class="home-2">the complete financial analytic course</h4>
                                </div>
                                <div class="course-instructor-rating margin-top-20">
                                    <div class="course-instructor">
                                        <img src="assets/images/course-instructor-2.png" alt="instructor">
                                        <h6>chris doe</h6>
                                    </div>
                                    <div class="course-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>4.2(30)</span>
                                    </div>
                                </div>
                                <div class="course-info margin-top-20">
                                    <div class="course-view">
                                        <i class="fa fa-eye"></i>
                                        <span>10,000 views</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>30 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>1h 40mins</span>
                                    </div>
                                </div>
                                <div class="course-price-cart margin-top-20">
                                    <div class="course-price">
                                        <span class="span-big">$ 250.00</span>
                                        <span class="span-cross">$ 400.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-state">
                                <span class="heart-icon"><i class="fa fa-heart-o"></i></span>
                                <span class="title-tag">by instructor</span>
                                <div class="course-title margin-top-10">
                                    <h4 class="home-2"><a href="course-details.html">the complete financial analytic course</a></h4>
                                </div>
                                <div class="course-price-info margin-top-20">
                                    <span class="best-seller">best seller</span>
                                    <span class="course-category"><a href="#">web design</a></span>
                                    <span class="course-price">$ 250.00</span>
                                </div>
                                <div class="course-info margin-top-30">
                                    <div class="course-enroll">
                                        <span>enrolled 0</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <p class="margin-top-20">Learn WordPress like a Professional! Start from the basics and go all the way to creating your own applications and website!</p>
                                <ul class="margin-top-20">
                                    <li><i class="fa fa-circle-o"></i><span>Lorem ipsum dolor sit amet.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Consectetur adipisicing elit.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Placeat dolore quaerat itaque.</span></li>
                                </ul>
                                <div class="preview-button margin-top-20">
                                    <a href="course-details.html" class="template-button">course preview</a>
                                    <a href="cart.html" class="template-button margin-left-10">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item web">
                        <div class="single-course-item">
                            <div class="course-image">
                                <img src="assets/images/course-image-4.png" alt="image">
                            </div>
                            <div class="course-content margin-top-30">
                                <div class="course-title">
                                    <h4 class="home-2">user experience design with adobe XD</h4>
                                </div>
                                <div class="course-instructor-rating margin-top-20">
                                    <div class="course-instructor">
                                        <img src="assets/images/course-instructor-1.png" alt="instructor">
                                        <h6>john doe</h6>
                                    </div>
                                    <div class="course-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>4.2(30)</span>
                                    </div>
                                </div>
                                <div class="course-info margin-top-20">
                                    <div class="course-view">
                                        <i class="fa fa-eye"></i>
                                        <span>25,000 views</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <div class="course-price-cart margin-top-20">
                                    <div class="course-price">
                                        <span class="span-big">$ 400.00</span>
                                        <span class="span-cross">$ 500.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-state">
                                <span class="heart-icon"><i class="fa fa-heart-o"></i></span>
                                <span class="title-tag">by instructor</span>
                                <div class="course-title margin-top-10">
                                    <h4 class="home-2"><a href="course-details.html">user experience design with adobe XD</a></h4>
                                </div>
                                <div class="course-price-info margin-top-20">
                                    <span class="best-seller">best seller</span>
                                    <span class="course-category"><a href="#">web design</a></span>
                                    <span class="course-price">$ 400.00</span>
                                </div>
                                <div class="course-info margin-top-30">
                                    <div class="course-enroll">
                                        <span>enrolled 0</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <p class="margin-top-20">Learn WordPress like a Professional! Start from the basics and go all the way to creating your own applications and website!</p>
                                <ul class="margin-top-20">
                                    <li><i class="fa fa-circle-o"></i><span>Lorem ipsum dolor sit amet.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Consectetur adipisicing elit.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Placeat dolore quaerat itaque.</span></li>
                                </ul>
                                <div class="preview-button margin-top-20">
                                    <a href="course-details.html" class="template-button">course preview</a>
                                    <a href="cart.html" class="template-button margin-left-10">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item music">
                        <div class="single-course-item">
                            <div class="course-image">
                                <img src="assets/images/course-image-3.png" alt="image">
                            </div>
                            <div class="course-content margin-top-30">
                                <div class="course-title">
                                    <h4 class="home-2">user experience design with adobe XD</h4>
                                </div>
                                <div class="course-instructor-rating margin-top-20">
                                    <div class="course-instructor">
                                        <img src="assets/images/course-instructor-1.png" alt="instructor">
                                        <h6>john doe</h6>
                                    </div>
                                    <div class="course-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>4.2(30)</span>
                                    </div>
                                </div>
                                <div class="course-info margin-top-20">
                                    <div class="course-view">
                                        <i class="fa fa-eye"></i>
                                        <span>25,000 views</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <div class="course-price-cart margin-top-20">
                                    <div class="course-price">
                                        <span class="span-big">$ 400.00</span>
                                        <span class="span-cross">$ 500.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-state">
                                <span class="heart-icon"><i class="fa fa-heart-o"></i></span>
                                <span class="title-tag">by instructor</span>
                                <div class="course-title margin-top-10">
                                    <h4 class="home-2"><a href="course-details.html">user experience design with adobe XD</a></h4>
                                </div>
                                <div class="course-price-info margin-top-20">
                                    <span class="best-seller">best seller</span>
                                    <span class="course-category"><a href="#">web design</a></span>
                                    <span class="course-price">$ 400.00</span>
                                </div>
                                <div class="course-info margin-top-30">
                                    <div class="course-enroll">
                                        <span>enrolled 0</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <p class="margin-top-20">Learn WordPress like a Professional! Start from the basics and go all the way to creating your own applications and website!</p>
                                <ul class="margin-top-20">
                                    <li><i class="fa fa-circle-o"></i><span>Lorem ipsum dolor sit amet.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Consectetur adipisicing elit.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Placeat dolore quaerat itaque.</span></li>
                                </ul>
                                <div class="preview-button margin-top-20">
                                    <a href="course-details.html" class="template-button">course preview</a>
                                    <a href="cart.html" class="template-button margin-left-10">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item photography">
                        <div class="single-course-item">
                            <div class="course-image">
                                <img src="assets/images/course-image-4.png" alt="image">
                            </div>
                            <div class="course-content margin-top-30">
                                <div class="course-title">
                                    <h4 class="home-2">learn photography from scratch</h4>
                                </div>
                                <div class="course-instructor-rating margin-top-20">
                                    <div class="course-instructor">
                                        <img src="assets/images/course-instructor-3.png" alt="instructor">
                                        <h6>chris doe</h6>
                                    </div>
                                    <div class="course-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>4.2(30)</span>
                                    </div>
                                </div>
                                <div class="course-info margin-top-20">
                                    <div class="course-view">
                                        <i class="fa fa-eye"></i>
                                        <span>10,000 views</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>30 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>1h 40mins</span>
                                    </div>
                                </div>
                                <div class="course-price-cart margin-top-20">
                                    <div class="course-price">
                                        <span class="span-big">$ 200.00</span>
                                        <span class="span-cross">$ 400.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-state">
                                <span class="heart-icon"><i class="fa fa-heart-o"></i></span>
                                <span class="title-tag">by instructor</span>
                                <div class="course-title margin-top-10">
                                    <h4 class="home-2"><a href="course-details.html">learn photography from scratch</a></h4>
                                </div>
                                <div class="course-price-info margin-top-20">
                                    <span class="best-seller">best seller</span>
                                    <span class="course-category"><a href="#">web design</a></span>
                                    <span class="course-price">$ 200.00</span>
                                </div>
                                <div class="course-info margin-top-30">
                                    <div class="course-enroll">
                                        <span>enrolled 0</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <p class="margin-top-20">Learn WordPress like a Professional! Start from the basics and go all the way to creating your own applications and website!</p>
                                <ul class="margin-top-20">
                                    <li><i class="fa fa-circle-o"></i><span>Lorem ipsum dolor sit amet.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Consectetur adipisicing elit.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Placeat dolore quaerat itaque.</span></li>
                                </ul>
                                <div class="preview-button margin-top-20">
                                    <a href="course-details.html" class="template-button">course preview</a>
                                    <a href="cart.html" class="template-button margin-left-10">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 grid-item web">
                        <div class="single-course-item">
                            <div class="course-image">
                                <img src="assets/images/course-image-5.png" alt="image">
                            </div>
                            <div class="course-content margin-top-30">
                                <div class="course-title">
                                    <h4 class="home-2">learn about microsoft SQL server</h4>
                                </div>
                                <div class="course-instructor-rating margin-top-20">
                                    <div class="course-instructor">
                                        <img src="assets/images/course-instructor-4.png" alt="instructor">
                                        <h6>john doe</h6>
                                    </div>
                                    <div class="course-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>4.2(30)</span>
                                    </div>
                                </div>
                                <div class="course-info margin-top-20">
                                    <div class="course-view">
                                        <i class="fa fa-eye"></i>
                                        <span>25,000 views</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <div class="course-price-cart margin-top-20">
                                    <div class="course-price">
                                        <span class="span-big">$ 300.00</span>
                                        <span class="span-cross">$ 400.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-state">
                                <span class="heart-icon"><i class="fa fa-heart-o"></i></span>
                                <span class="title-tag">by instructor</span>
                                <div class="course-title margin-top-10">
                                    <h4 class="home-2"><a href="course-details.html">learn about microsoft SQL server</a></h4>
                                </div>
                                <div class="course-price-info margin-top-20">
                                    <span class="best-seller">best seller</span>
                                    <span class="course-category"><a href="#">web design</a></span>
                                    <span class="course-price">$ 300.00</span>
                                </div>
                                <div class="course-info margin-top-30">
                                    <div class="course-enroll">
                                        <span>enrolled 0</span>
                                    </div>
                                    <div class="course-video">
                                        <i class="fa fa-play-circle-o"></i>
                                        <span>36 lectures</span>
                                    </div>
                                    <div class="course-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>2h 40mins</span>
                                    </div>
                                </div>
                                <p class="margin-top-20">Learn WordPress like a Professional! Start from the basics and go all the way to creating your own applications and website!</p>
                                <ul class="margin-top-20">
                                    <li><i class="fa fa-circle-o"></i><span>Lorem ipsum dolor sit amet.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Consectetur adipisicing elit.</span></li>
                                    <li><i class="fa fa-circle-o"></i><span>Placeat dolore quaerat itaque.</span></li>
                                </ul>
                                <div class="preview-button margin-top-20">
                                    <a href="course-details.html" class="template-button">course preview</a>
                                    <a href="cart.html" class="template-button margin-left-10">add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</template>

<script>
export default {
    name: "home-course",

}
</script>


<style scoped>

</style>