<template>
<div>
        <!-- Category Drawer -->
        <drawer></drawer>

        <!-- Header Section Starts -->
        <home-header></home-header>
        

        <!-- Hero Home 02 Starts -->
        <hero-home></hero-home>

        <!-- Brand Home 02 Starts -->
        <brand-home></brand-home>
        <category></category>

        <!-- CounterUp Section Starts -->
        <counter-up></counter-up>

        <!-- Course Home 02 Starts -->
        <home-course></home-course>

        <!-- Instructor Home 02 Starts -->
        <instructor></instructor>

        <!-- Feedback Home 02 Starts -->
        <home-feedback></home-feedback>

        <news></news>

        <!-- Footer Section Starts -->
        <home-footer></home-footer>
</div>
</template>

<script>
export default {
    name: "home-2",

}
</script>


<style scoped>

</style>