<template>
        <section class="feedback-home-2 padding-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2 class="home-2">successful student <span>feedback</span></h2>
                        </div>
                        <div class="feedback-slider">
                            <div class="feedback-single-slide">
                                <p>Professor James Pennebaker from the University of Texas at Austin has been researching the benefits of frequent testing and the feedback it leads to. He explains that in the history of the study of learning, the role of feedback has always been central.</p>
                                <div class="feedback-author">
                                    <div class="author-image">
                                        <img src="assets/images/author-1-home-2.png" alt="author">
                                    </div>
                                    <div class="author-name">
                                        <h5>chris doe</h5>
                                        <span>web designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="feedback-single-slide">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia corporis optio numquam. Ratione eum harum temporibus reiciendis hic, dicta quaerat nam soluta accusantium, illo at sapiente eveniet nobis perferendis aperiam sunt. Repellat quam itaque numquam.</p>
                                <div class="feedback-author">
                                    <div class="author-image">
                                        <img src="assets/images/course-instructor-3.png" alt="author">
                                    </div>
                                    <div class="author-name">
                                        <h5>arya stark</h5>
                                        <span>UX designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="feedback-single-slide">
                                <p>Professor James Pennebaker from the University of Texas at Austin has been researching the benefits of frequent testing and the feedback it leads to. He explains that in the history of the study of learning, the role of feedback has always been central.</p>
                                <div class="feedback-author">
                                    <div class="author-image">
                                        <img src="assets/images/course-instructor-4.png" alt="author">
                                    </div>
                                    <div class="author-name">
                                        <h5>john doe</h5>
                                        <span>digital marketer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback-video-part">
                            <img src="assets/images/feedback-image.jpg" alt="image">
                            <div class="video-play-button">
                                <a href="https://www.youtube.com/watch?v=8AGgbIQyqR8" class="button-video">
                                    <i class="fa fa-play item-ripple"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       
</template>

<script>
export default {
    name: "home-feedback",

}
</script>


<style scoped>

</style>