<template>
 <header class="header-home-2">
            <!-- main Header Starts -->
            <div class="main-header main-header-home-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="main-header-right">
                                <!-- Main Menu -->
                                <div class="main-menu-home-2">
                                    <ul>
                                        <li class="have-submenu"><a href="#">home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">home 01</a></li>
                                                <li><a href="home-2.html">home 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">about</a></li>
                                        <li class="have-submenu"><a href="#">course</a>
                                            <ul class="sub-menu">
                                                <li><a href="web-development.html">web development</a></li>
                                                <li><a href="education.html">education</a></li>
                                                <li><a href="business.html">business</a></li>
                                                <li><a href="banking.html">banking</a></li>
                                                <li><a href="corporate.html">corporate</a></li>
                                                <li><a href="consulting.html">consulting</a></li>
                                                <li><a href="marketing.html">marketing</a></li>
                                                <li><a href="photography.html">photography</a></li>
                                                <li><a href="music.html">music</a></li>
                                            </ul>
                                        </li>
                                        <li class="have-submenu"><a href="#">blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li class="have-submenu"><a href="#">pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="course-details.html">course details</a></li>
                                                <li><a href="course-video.html">course video</a></li>
                                                <li><a href="package.html">package</a></li>
                                                <li><a href="instructor-details.html">instructor details</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="purchase.html">purchase</a></li>
                                                <li><a href="login.html">login</a></li>
                                                <li><a href="signup.html">sign up</a></li>
                                                <li><a href="404.html">404</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </div>
                                <!-- Category Dropdown Starts -->
                                <div class="category-dropdown category-bar">
                                    <div class="menu-bar">
                                        <i class="fa fa-bars"></i>
                                        <span>categories</span>
                                    </div>
                                </div>
                                <div class="header-button">
                                    <a href="login.html" class="template-button">login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
</template>

<script>
export default {
    name: "home-header",

}
</script>


<style scoped>

</style>