<template>
<footer class="footer-home-2">
            <div class="footer-widget-section padding-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/images/logo-both-color.png" alt="logo"></a>
                                </div>
                                <p>Lorem ipsum dolor, sit amet conse adipisicing elit.</p>
                                <a href="#" class="phone-number"><span><i class="fa fa-phone-square"></i> 123-4567890</span></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4 class="home-2">courses</h4>
                                </div>
                                <ul>
                                    <li><a href="#">web page design</a></li>
                                    <li><a href="#">IOS aplication</a></li>
                                    <li><a href="#">UX research</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4 class="home-2">useful links</h4>
                                </div>
                                <ul>
                                    <li><a href="#">about us</a></li>
                                    <li><a href="#">terms of service</a></li>
                                    <li><a href="#">legal info</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4 class="home-2">company</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-address-card-o"></i> 999 Pennsylvania Gates, Supper Market New York</a></li>
                                    <li><a href="#"><i class="fa fa-envelope-open-o"></i> support@rumbok.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright-home-2 text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <span>Copyright &copy; rumbok 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</template>

<script>
export default {
    name: "home-footer",

}
</script>


<style scoped>

</style>