<template>
 <section class="instructor-home-2 gradient-bg padding-top-115">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h2 class="home-2">top online <span>instructors</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-instructor">
                            <div class="instructor-image">
                                <a href="#"><img src="assets/images/instructor-1-home-2.png" alt="image"></a>
                            </div>
                            <div class="instructor-content">
                                <h4 class="home-2"><a href="#">john doe</a></h4>
                                <span>founder CEO</span>
                            </div>
                            <div class="hover-state">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-instructor">
                            <div class="instructor-image">
                                <a href="#"><img src="assets/images/instructor-2-home-2.png" alt="image"></a>
                            </div>
                            <div class="instructor-content">
                                <h4 class="home-2"><a href="#">chris wokes</a></h4>
                                <span>web teacher</span>
                            </div>
                            <div class="hover-state">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-instructor">
                            <div class="instructor-image">
                                <a href="#"><img src="assets/images/instructor-3-home-2.png" alt="image"></a>
                            </div>
                            <div class="instructor-content">
                                <h4 class="home-2"><a href="#">sansa stark</a></h4>
                                <span>UI UX teacher</span>
                            </div>
                            <div class="hover-state">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-instructor diffrent-bg-color">
                            <div class="instructor-image">
                                <a href="#"><img src="assets/images/instructor-4-home-2.png" alt="image"></a>
                            </div>
                            <div class="instructor-content">
                                <h4 class="home-2"><a href="#">devid walter</a></h4>
                                <span>marketing teacher</span>
                            </div>
                            <div class="hover-state">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="instructor-button margin-top-20 text-center">
                            <a href="#" class="template-button">see more instructor</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: "instructor",

}
</script>


<style scoped>

</style>