<template>
 <!-- Newsletter Home 02 Starts -->
        <section class="newsletter-home-2 padding-top-115 padding-bottom-120">
            <img src="assets/images/newsletter-shape-1.png" alt="shape" class="newsletter-shape-1">
            <img src="assets/images/newsletter-shape-2.png" alt="shape" class="newsletter-shape-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title margin-bottom-30">
                            <h2 class="home-2">sign up for <span>our newsletter</span></h2>
                        </div>
                        <p>He found himself transformed in his bed into a horrible vermin.</p>
                        <div class="newsletter-form margin-top-30">
                            <div class="header-search">
                                <form action="#">
                                    <input type="text" placeholder="Enter Your Email">
                                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: "news",

}
</script>


<style scoped>

</style>