<template>

<div>
 <!-- Main Menu -->
       <main-menu></main-menu>

        <!-- Header Section Starts -->
        <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <breadcrumb-blog></breadcrumb-blog>

        <!-- Blog Content Section -->
       <blog-content></blog-content>

        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <Footer-Section></Footer-Section>
    

  

</div>



</template>

<script>

export default {
name: "blog",


}
</script>

<style scoped>

</style>
