<template>

        <div>
          <section class="blog-content-section padding-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-posts">
                            <div class="blog-single-post">
                                <div class="blog-thumbnail">
                                    <a href="blog-details.html"><img src="assets/images/blog-image-1.jpg" alt="thumbnail"></a>
                                </div>
                                <div class="blog-content-part">
                                    <div class="blog-content-top">
                                        <div class="blog-date margin-right-20">
                                            <a href="#"><i class="fa fa-calendar"></i>28 june 2020</a>
                                        </div>
                                        <div class="blog-tag margin-right-20">
                                            <a href="#"><i class="fa fa-tag"></i>web design</a>
                                        </div>
                                        <div class="blog-author">
                                            <a href="#"><i class="fa fa-user-circle"></i>john doe</a>
                                        </div>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="blog-details.html">they're getting to know learning app</a></h3>
                                    </div>
                                    <div class="blog-content">
                                        <p>Organizations today are in constant flux. Industries are consolidating, business models are emerging, new technologies are being developed, and consumer behaviors are evolving.</p>
                                    </div>
                                    <div class="blog-excerpt-link">
                                        <a href="blog-details.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-single-post different-bg-color">
                                <div class="blog-thumbnail-slider">
                                    <div class="thumbnail-single-slide">
                                        <a href="blog-details.html"><img src="assets/images/blog-image-2.jpg" alt="thumbnail"></a>
                                    </div>
                                    <div class="thumbnail-single-slide">
                                        <a href="blog-details.html"><img src="assets/images/blog-image-1.jpg" alt="thumbnail"></a>
                                    </div>
                                    <div class="thumbnail-single-slide">
                                        <a href="blog-details.html"><img src="assets/images/blog-image-3.jpg" alt="thumbnail"></a>
                                    </div>
                                </div>
                                <div class="blog-content-part">
                                    <div class="blog-content-top">
                                        <div class="blog-date margin-right-20">
                                            <a href="#"><i class="fa fa-calendar"></i>28 june 2020</a>
                                        </div>
                                        <div class="blog-tag margin-right-20">
                                            <a href="#"><i class="fa fa-tag"></i>web design</a>
                                        </div>
                                        <div class="blog-author">
                                            <a href="#"><i class="fa fa-user-circle"></i>john doe</a>
                                        </div>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="blog-details.html">they're getting to know learning app</a></h3>
                                    </div>
                                    <div class="blog-content">
                                        <p>Organizations today are in constant flux. Industries are consolidating, business models are emerging, new technologies are being developed, and consumer behaviors are evolving.</p>
                                    </div>
                                    <div class="blog-excerpt-link">
                                        <a href="blog-details.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-single-post">
                                <div class="blog-thumbnail-video">
                                    <a href="blog-details.html"><img src="assets/images/blog-image-3.jpg" alt="thumbnail"></a>
                                    <div class="video-play-button">
                                        <a href="https://www.youtube.com/watch?v=8AGgbIQyqR8" class="button-video">
                                            <i class="fa fa-play item-ripple"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content-part">
                                    <div class="blog-content-top">
                                        <div class="blog-date margin-right-20">
                                            <a href="#"><i class="fa fa-calendar"></i>28 june 2020</a>
                                        </div>
                                        <div class="blog-tag margin-right-20">
                                            <a href="#"><i class="fa fa-tag"></i>web design</a>
                                        </div>
                                        <div class="blog-author">
                                            <a href="#"><i class="fa fa-user-circle"></i>john doe</a>
                                        </div>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="blog-details.html">they're getting to know learning app</a></h3>
                                    </div>
                                    <div class="blog-content">
                                        <p>Organizations today are in constant flux. Industries are consolidating, business models are emerging, new technologies are being developed, and consumer behaviors are evolving.</p>
                                    </div>
                                    <div class="blog-excerpt-link">
                                        <a href="blog-details.html">read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-single-post different-bg-color">
                                <div class="blog-content-part">
                                    <div class="blog-content-top">
                                        <div class="blog-date margin-right-20">
                                            <a href="#"><i class="fa fa-calendar"></i>28 june 2020</a>
                                        </div>
                                        <div class="blog-tag margin-right-20">
                                            <a href="#"><i class="fa fa-tag"></i>web design</a>
                                        </div>
                                        <div class="blog-author">
                                            <a href="#"><i class="fa fa-user-circle"></i>john doe</a>
                                        </div>
                                    </div>
                                    <div class="blog-title">
                                        <h3><a href="blog-details.html">they're getting to know learning app</a></h3>
                                    </div>
                                    <div class="blog-content">
                                        <p>Organizations today are in constant flux. Industries are consolidating, business models are emerging, new technologies are being developed, and consumer behaviors are evolving.</p>
                                    </div>
                                    <div class="blog-excerpt-link">
                                        <a href="blog-details.html">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="template-pagination">
                            <ul>
                                <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#">01</a></li>
                                <li><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                <li><a href="#">04</a></li>
                                <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-sidebar">
                            <div class="single-widget author-widget">
                                <img src="assets/images/instructor-2.png" alt="image">
                                <div class="author-name margin-top-20">
                                    <h4>john doe</h4>
                                </div>
                                <div class="author-content margin-top-10">
                                    Hi! I'm author of this post. Read my post, be in trend.
                                </div>
                                <div class="author-social-link margin-top-20">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-widget search-widget">
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="single-widget recent-post-widget">
                                <div class="widget-title">
                                    <h4>recent posts</h4>
                                </div>
                                <div class="single-recent-post">
                                    <div class="recent-post-image">
                                        <a href="blog-details.html"><img src="assets/images/recent-post-1.jpg" alt="image"></a>
                                    </div>
                                    <div class="recent-post-title">
                                        <div class="post-date">
                                            <a href="#"><i class="fa fa-calendar"></i>20 June 2020</a>
                                        </div>
                                        <h5><a href="blog-details.html">twice profit than before you ever got business</a></h5>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="recent-post-image">
                                        <a href="blog-details.html"><img src="assets/images/recent-post-2.jpg" alt="image"></a>
                                    </div>
                                    <div class="recent-post-title">
                                        <div class="post-date">
                                            <a href="#"><i class="fa fa-calendar"></i>28 June 2020</a>
                                        </div>
                                        <h5><a href="blog-details.html">twice profit than before you ever got business</a></h5>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="recent-post-image">
                                        <a href="blog-details.html"><img src="assets/images/recent-post-3.jpg" alt="image"></a>
                                    </div>
                                    <div class="recent-post-title">
                                        <div class="post-date">
                                            <a href="#"><i class="fa fa-calendar"></i>20 September 2020</a>
                                        </div>
                                        <h5><a href="blog-details.html">twice profit than before you ever got business</a></h5>
                                    </div>
                                </div>
                                <div class="single-recent-post">
                                    <div class="recent-post-image">
                                        <a href="blog-details.html"><img src="assets/images/recent-post-4.jpg" alt="image"></a>
                                    </div>
                                    <div class="recent-post-title">
                                        <div class="post-date">
                                            <a href="#"><i class="fa fa-calendar"></i>14 October 2020</a>
                                        </div>
                                        <h5><a href="blog-details.html">twice profit than before you ever got business</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="single-widget category-widget">
                                <div class="widget-title">
                                    <h4>all categories</h4>
                                </div>
                                <div class="category-items">
                                    <ul>
                                        <li><a href="#" class="border-none"><i class="fa fa-circle"></i>web development (03)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>education (02)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>business (05)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>finance and banking (03)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>marketing (02)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>photography (08)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>technology (09)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>UI & UX design (05)</a></li>
                                        <li><a href="#"><i class="fa fa-circle"></i>psychology (02)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-widget tag-widget">
                                <div class="widget-title">
                                    <h4>tags</h4>
                                </div>
                                <div class="tag-items">
                                    <ul>
                                        <li><a href="#">app</a></li>
                                        <li><a href="#">agency</a></li>
                                        <li><a href="#">history</a></li>
                                        <li><a href="#">education</a></li>
                                        <li><a href="#">learning</a></li>
                                        <li><a href="#">web design</a></li>
                                        <li><a href="#">ux design</a></li>
                                        <li><a href="#">optimize</a></li>
                                        <li><a href="#">online</a></li>
                                        <li><a href="#">course</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-widget banner-widget">
                                <div class="banner-widget-logo">
                                    <a href="index.html"><img src="assets/images/logo-white.png" alt="logo"></a>
                                </div>
                                <div class="banner-widget-title text-center margin-top-20">
                                    <h4>start course in yourself today</h4>
                                </div>
                                <div class="banner-widget-button text-center margin-top-30">
                                    <a href="#" class="template-button">instructor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
</template>

<script>

export default {
name: "blog-content",

}
</script>

<style scoped>

</style>
