<template>

        <div>
             <section class="login-section padding-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login-image">
                            <img src="assets/images/login-image.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login-form">
                            <h3>signup <span>now</span></h3>
                            <div class="google-button">
                                <a href="#" class="template-button"><i class="fa fa-google"></i> google</a>
                            </div>
                            <span class="separator">or</span>
                            <div class="login-tab">
                                <div class="tab">
                                    <ul>
                                        <li class="tab-one active">
                                            <a href="#" class="template-button-2">admin</a>
                                        </li>
                                        <li class="tab-second">
                                            <a href="#" class="template-button-2">instructor</a>
                                        </li>
                                        <li class="tab-three">
                                            <a href="#" class="template-button-2">student</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content margin-top-30">
                                <div class="tab-one-content lost active">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="signupName"><i class="fa fa-user"></i> Your Name</label>
                                            <input type="name" id="signupName" placeholder="Your Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupEmail"><i class="fa fa-envelope"></i> Email Address</label>
                                            <input type="email" id="signupEmail" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupPassword"><i class="fa fa-lock"></i> Password</label>
                                            <input type="password" id="signupPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupConPassword"><i class="fa fa-lock"></i> Confirm Password</label>
                                            <input type="password" id="signupConPassword" placeholder="Confirm Password">
                                        </div>
                                        <div class="checkbox-forgotpass-area">
                                            <div class="checkbox-part">
                                                <input type="checkbox" id="signupRemember">
                                                <label for="signupRemember"> remember me</label>
                                            </div>
                                            <div class="forgotpass-part">
                                                <a href="#">forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="login-button margin-top-20">
                                            <a href="#" class="template-button">login account</a>
                                            <span>already have an account? <a href="login.html">login</a></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-second-content lost">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="signupName2"><i class="fa fa-user"></i> Your Name</label>
                                            <input type="name" id="signupName2" placeholder="Your Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupEmail2"><i class="fa fa-envelope"></i> Email Address</label>
                                            <input type="email" id="signupEmail2" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupPassword2"><i class="fa fa-lock"></i> Password</label>
                                            <input type="password" id="signupPassword2" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupConPassword2"><i class="fa fa-lock"></i> Confirm Password</label>
                                            <input type="password" id="signupConPassword2" placeholder="Confirm Password">
                                        </div>
                                        <div class="checkbox-forgotpass-area">
                                            <div class="checkbox-part">
                                                <input type="checkbox" id="signupRemember2">
                                                <label for="signupRemember2"> remember me</label>
                                            </div>
                                            <div class="forgotpass-part">
                                                <a href="#">forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="login-button margin-top-20">
                                            <a href="#" class="template-button">login account</a>
                                            <span>already have an account? <a href="login.html">login</a></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-three-content lost">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="signupName3"><i class="fa fa-user"></i> Your Name</label>
                                            <input type="name" id="signupName3" placeholder="Your Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupEmail3"><i class="fa fa-envelope"></i> Email Address</label>
                                            <input type="email" id="signupEmail3" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupPassword3"><i class="fa fa-lock"></i> Password</label>
                                            <input type="password" id="signupPassword3" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="signupConPassword3"><i class="fa fa-lock"></i> Confirm Password</label>
                                            <input type="password" id="signupConPassword3" placeholder="Confirm Password">
                                        </div>
                                        <div class="checkbox-forgotpass-area">
                                            <div class="checkbox-part">
                                                <input type="checkbox" id="signupRemember3">
                                                <label for="signupRemember3"> remember me</label>
                                            </div>
                                            <div class="forgotpass-part">
                                                <a href="#">forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="login-button margin-top-20">
                                            <a href="#" class="template-button">login account</a>
                                            <span>already have an account? <a href="login.html">login</a></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
</template>

<script>

export default {
name: "login-section",

}
</script>

<style scoped>

</style>
