<template>

<div>
 <!-- Main Menu -->
        <main-menu></main-menu>

        <!-- Header Section Starts -->
        <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <breadcrumb-signup></breadcrumb-signup>

        <!-- Login Section Starts -->
       <login-section></login-section>

        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <footer-section></footer-section>


</div>



</template>

<script>

export default {
name: "signup",

}
</script>

<style scoped>

</style>
