<template>

    <!-- About Section Starts -->
    <section class="about-section padding-top-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>know about <span>courses</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-content-left">
                        <div class="about-single-content">
                            <div class="content-top">
                                <div class="content-icon template-icon green-icon">
                                    <i class="icofont-document-folder"></i>
                                </div>
                                <h5>learn anything</h5>
                            </div>
                            <p class="margin-top-10">Explore a variety of fresh topics Podcasting better management
                                inside workflows.</p>
                        </div>
                        <div class="about-single-content">
                            <div class="content-top">
                                <div class="content-icon template-icon yellow-icon">
                                    <i class="icofont-layers"></i>
                                </div>
                                <h5>learn together</h5>
                            </div>
                            <p class="margin-top-10">Explore a variety of fresh topics Podcasting better management
                                inside workflows.</p>
                        </div>
                        <div class="about-single-content">
                            <div class="content-top">
                                <div class="content-icon template-icon blue-icon">
                                    <i class="icofont-hard-disk"></i>
                                </div>
                                <h5>online course</h5>
                            </div>
                            <p class="margin-top-10">Explore a variety of fresh topics Podcasting better management
                                inside workflows.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="video-popup-area">
                        <div class="video-play-button">
                            <a href="https://www.youtube.com/watch?v=8AGgbIQyqR8" class="button-video">
                                <i class="fa fa-play item-ripple"></i>
                            </a>
                        </div>
                        <img src="assets/images/about-image.png" alt="image">
                        <div class="image-absolute">
                            <img src="assets/images/hero-small-image-4.png" alt="image" class="top-absolute">
                            <img src="assets/images/hero-small-image-2.png" alt="image" class="bottom-absolute">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-content-right">
                        <div class="about-single-content">
                            <div class="content-top">
                                <div class="content-icon template-icon green-icon">
                                    <i class="icofont-learn"></i>
                                </div>
                                <h5>bright mind & idea</h5>
                            </div>
                            <p class="margin-top-10">Explore a variety of fresh topics Podcasting better management
                                inside workflows.</p>
                        </div>
                        <div class="about-single-content">
                            <div class="content-top">
                                <div class="content-icon template-icon yellow-icon">
                                    <i class="icofont-library"></i>
                                </div>
                                <h5>wherever you go</h5>
                            </div>
                            <p class="margin-top-10">Explore a variety of fresh topics Podcasting better management
                                inside workflows.</p>
                        </div>
                        <div class="about-single-content">
                            <div class="content-top">
                                <div class="content-icon template-icon blue-icon">
                                    <i class="icofont-certificate-alt-1"></i>
                                </div>
                                <h5>customer preference</h5>
                            </div>
                            <p class="margin-top-10">Explore a variety of fresh topics Podcasting better management
                                inside workflows.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "AboutSection"
}
</script>

<style scoped>

</style>
