<template>
    <!-- Categorry Section Starts -->
    <section class="category-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>popular <span>categories</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-1.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>web design</h4>
                            </div>
                            <span>03 course(S)</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-2.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>marketing</h4>
                            </div>
                            <span>02 course(S)</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-3.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>education</h4>
                            </div>
                            <span>10 course(S)</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-4.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>business</h4>
                            </div>
                            <span>04 course(S)</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-5.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>psychology</h4>
                            </div>
                            <span>03 course(S)</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-6.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>UI & UX design</h4>
                            </div>
                            <span>05 course(S)</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-7.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>technology</h4>
                            </div>
                            <span>09 course(S)</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="course.html">
                        <div class="single-category-item">
                            <div class="category-image">
                                <img src="assets/images/category-icon-8.png" alt="image">
                                <img src="assets/images/round-shape-3.png" alt="shape" class="feature-round-shape-3">
                            </div>
                            <div class="category-title margin-bottom-10">
                                <h4>photography</h4>
                            </div>
                            <span>08 course(S)</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "CategorySection"
}
</script>

<style scoped>

</style>
