<template>
    <!-- Feature Section Starts -->
    <section class="feature-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature-item feature-item-1">
                        <div class="feature-icon template-icon green-icon">
                            <i class="icofont-document-folder"></i>
                        </div>
                        <div class="feature-content">
                            <h4>9 online courses</h4>
                            <p>Explore a variety of fresh topics.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature-item feature-item-2">
                        <div class="feature-icon template-icon yellow-icon">
                            <i class="icofont-cubes"></i>
                        </div>
                        <div class="feature-content">
                            <h4>expert instruction</h4>
                            <p>Find the right instructor for you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature-item feature-item-3">
                        <div class="feature-icon template-icon blue-icon">
                            <i class="icofont-gears"></i>
                        </div>
                        <div class="feature-content">
                            <h4>lifetime access</h4>
                            <p>Learn on your schedule.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "FeatureSection"
}
</script>

<style scoped>

</style>
