<template>
    <MainMenu/>
</template>

<script>

import MainMenu from './components/MainMenu'
export default {
    name: "Home",
    Components:{
        MainMenu
    }
}
</script>

<style scoped>

</style>
