<template>
    <!-- Instructor Section Starts -->
    <section class="instructor-section gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>top online <span>instructors</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-instructor">
                        <span class="instructor-sign">john</span>
                        <div class="instructor-image">
                            <a href="#"><img src="assets/images/instructor-1.png" alt="image"></a>
                        </div>
                        <div class="instructor-content">
                            <h4><a href="#">john doe</a></h4>
                            <span>founder CEO</span>
                        </div>
                        <div class="hover-state">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-instructor diffrent-bg-color">
                        <span class="instructor-sign">arya</span>
                        <div class="instructor-image">
                            <a href="#"><img src="assets/images/instructor-3.png" alt="image"></a>
                        </div>
                        <div class="instructor-content">
                            <h4><a href="#">arya stark</a></h4>
                            <span>web teacher</span>
                        </div>
                        <div class="hover-state">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-instructor">
                        <span class="instructor-sign">chris</span>
                        <div class="instructor-image">
                            <a href="#"><img src="assets/images/instructor-2.png" alt="image"></a>
                        </div>
                        <div class="instructor-content">
                            <h4><a href="#">chris wokes</a></h4>
                            <span>UI UX teacher</span>
                        </div>
                        <div class="hover-state">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-instructor diffrent-bg-color">
                        <span class="instructor-sign">devid</span>
                        <div class="instructor-image">
                            <a href="#"><img src="assets/images/instructor-4.png" alt="image"></a>
                        </div>
                        <div class="instructor-content">
                            <h4><a href="#">devid walter</a></h4>
                            <span>marketing teacher</span>
                        </div>
                        <div class="hover-state">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="instructor-button margin-top-20 text-center">
                        <a href="#" class="template-button">see more instructor</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "InstructorSection"
}
</script>

<style scoped>

</style>
