<template>
<section class="breadcrumb-section">
            <div class="breadcrumb-shape">
                <img src="assets/images/round-shape-2.png" alt="shape" class="hero-round-shape-2 item-moveTwo">
                <img src="assets/images/plus-sign.png" alt="shape" class="hero-plus-sign item-rotate">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>instructor details page</h2>
                        <div class="breadcrumb-link margin-top-10">
                            <span><a href="index.html">home</a> / instructor details page</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: "instructor-breadcrumb",

}
</script>


<style scoped>

</style>