<template>
<div>
     <!-- Main Menu -->
        <main-menu></main-menu>

        <!-- Header Section Starts -->
        <Header-section></Header-section>

        <!-- Breadcrumb Section Starts -->
        <instructor-breadcrumb></instructor-breadcrumb>

        <!-- Instructor Details Section Starts -->
        <instructor-section></instructor-section>

        <!-- Instructor Courses Section Starts -->
        <instructor-course></instructor-course>

        <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
         <footer></footer>
         <home-footer></home-footer>
</div>
</template>

<script>
export default {
    name: "intructor-details",

}
</script>


<style scoped>

</style>