<template>
<section class="instructor-details-section padding-top-120">
            <div class="container">
                <div class="instructor-content-top">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="instructor-image">
                                <img src="assets/images/instructor-details-image.jpg" alt="instructor">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="instructor-info">
                                <h3>john doe</h3>
                                <span class="instructor-tag">UI & UX teacher</span>
                                <div class="instructor-social-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <p class="margin-top-20">Blanche has always been a passionate educator and instructor for students who have a talent for languages and technical science. founded SoftTech-IT in 1988 and trained over 5000 students online, many of whom are now successful businessmen, educators & technicians.</p>
                                <div class="instructor-education margin-top-20">
                                    <h5>education</h5>
                                    <ul>
                                        <li><i class="fa fa-arrow-circle-right"></i>MBA, Milstone School of Management, Milstone University.</li>
                                        <li><i class="fa fa-arrow-circle-right"></i>BSC, engineering, Technical University of Dhaka.</li>
                                    </ul>
                                </div>
                                <div class="instructor-asset margin-top-30">
                                    <div class="single-asset">
                                        <div class="asset-image">
                                            <img src="assets/images/category-icon-3.png" alt="image">
                                        </div>
                                        <div class="assets-content">
                                            <h4>500</h4>
                                            <h6>total sdutent</h6>
                                        </div>
                                    </div>
                                    <div class="single-asset">
                                        <div class="asset-image">
                                            <img src="assets/images/counter-image-2.png" alt="image">
                                        </div>
                                        <div class="assets-content">
                                            <h4>20</h4>
                                            <h6>courses</h6>
                                        </div>
                                    </div>
                                    <div class="single-asset">
                                        <div class="asset-image">
                                            <img src="assets/images/counter-image-1.png" alt="image">
                                        </div>
                                        <div class="assets-content">
                                            <h4>4.4</h4>
                                            <h6>reviews</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instructor-content-bottom margin-top-60">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bottom-left-part">
                                <div class="bottom-content-title">
                                    <h4>about me</h4>
                                </div>
                                <p>I am the founder of the SoftTech_IT LTD. and an Amazon Web Services community hero. I hold every associate certification and I am a certified AWS Solutions Architect Professional. I am ex-Rackspace, ex-Sungard. I have been working in the Cloud space since it's very inception. I am not just another I.T. trainer. I teach Cloud because I know it.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="instructor-skill-part">
                                <div class="bottom-content-title">
                                    <h4>my skills</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-skill-item">
                                            <div class="progress-info d-flex justify-content-between">
                                                <div class="progress-info-left">
                                                    <span>UI & UX design</span>
                                                </div>
                                                <div class="progress-info-right">
                                                    <span>80%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-skill-item">
                                            <div class="progress-info d-flex justify-content-between">
                                                <div class="progress-info-left">
                                                    <span>wordPress</span>
                                                </div>
                                                <div class="progress-info-right">
                                                    <span>90%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-skill-item">
                                            <div class="progress-info d-flex justify-content-between">
                                                <div class="progress-info-left">
                                                    <span>technology</span>
                                                </div>
                                                <div class="progress-info-right">
                                                    <span>70%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-skill-item">
                                            <div class="progress-info d-flex justify-content-between">
                                                <div class="progress-info-left">
                                                    <span>marketing</span>
                                                </div>
                                                <div class="progress-info-right">
                                                    <span>60%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: "instructor-section",

}
</script>


<style scoped>

</style>