<template>
<div>
     <!-- Main Menu -->
         <main-menu></main-menu>

        <!-- Header Section Starts -->
        
        <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <marketing-breadcrumb></marketing-breadcrumb>

        <!-- Course Category Section Starts -->
         <course-section></course-section>

        <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
         <footer></footer>
         <home-footer></home-footer>
</div>
</template>

<script>
export default {
    name: "marketing",

}
</script>


<style scoped>

</style>