<template>
<div>
      <!-- Main Menu -->
         <main-menu></main-menu>

        <!-- Header Section Starts -->
         <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <pakage-breadcrumb></pakage-breadcrumb>

        <!-- Package Section Starts -->
        <pakage-section></pakage-section>

        <!-- Register Section Starts -->
        <pakage-regis></pakage-regis>

        <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
         <footer></footer>
         <home-footer></home-footer>

</div>
</template>

<script>
export default {
    name: "pakage",

}
</script>


<style scoped>

</style>