<template>
<section class="package-section padding-top-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-package-item">
                            <div class="package-offer green-bg">
                                <span>40% off</span>
                            </div>
                            <div class="package-content">
                                <div class="package-icon template-icon green-icon">
                                    <i class="icofont-document-folder"></i>
                                </div>
                                <div class="package-title">
                                    <h4>web design</h4>
                                </div>
                                <p class="margin-top-20">Explore a variety of fresh topics Podcasting better management inside.</p>
                                <div class="package-price green-price">
                                    <h4>$ 250.00</h4>
                                </div>
                            </div>
                            <div class="package-image">
                                <img src="assets/images/course-image-2.png" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-package-item different-bg">
                            <div class="package-offer yellow-bg">
                                <span>20% off</span>
                            </div>
                            <div class="package-content">
                                <div class="package-icon template-icon yellow-icon">
                                    <i class="icofont-layers"></i>
                                </div>
                                <div class="package-title">
                                    <h4>uI UX design</h4>
                                </div>
                                <p class="margin-top-20">Explore a variety of fresh topics Podcasting better management inside.</p>
                                <div class="package-price yellow-price">
                                    <h4>$ 200.00</h4>
                                </div>
                            </div>
                            <div class="package-image">
                                <img src="assets/images/course-image-1.png" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-package-item">
                            <div class="package-offer blue-bg">
                                <span>10% off</span>
                            </div>
                            <div class="package-content">
                                <div class="package-icon template-icon blue-icon">
                                    <i class="icofont-library"></i>
                                </div>
                                <div class="package-title">
                                    <h4>data science</h4>
                                </div>
                                <p class="margin-top-20">Explore a variety of fresh topics Podcasting better management inside.</p>
                                <div class="package-price blue-price">
                                    <h4>$ 150.00</h4>
                                </div>
                            </div>
                            <div class="package-image">
                                <img src="assets/images/course-image-5.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: "pakage-section",

}
</script>


<style scoped>

</style>