<template>
<div class="register-section padding-top-80 padding-bottom-120">
            <div class="container">
                <div class="register-form">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName">Full Name*</label>
                                    <input type="text" id="fullName" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Email">Email Address*</label>
                                    <input type="text" id="Email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Password">Passowrd*</label>
                                    <input type="text" id="Password" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="conPassword">Confirm Password*</label>
                                    <input type="text" id="conPassword" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="register-button margin-top-20">
                            <a href="#" class="template-button">register account</a>
                            <span>Already have an account? <a href="login.html" class="login-link">Login</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</template>

<script>
export default {
    name: "pakage-regis",

}
</script>


<style scoped>

</style>