<template>
<div>
      <!-- Main Menu -->
         <main-menu></main-menu>

        <!-- Header Section Starts -->
         <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <music-breadcrumb></music-breadcrumb>

        <!-- Course Category Section Starts -->
         <Course-section></Course-section>

        <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
         <footer></footer>
         <home-footer></home-footer>
</div>
</template>

<script>
export default {
    name: "music",

}
</script>


<style scoped>

</style>