<template>
<div>
      <!-- Main Menu -->
        
        <main-menu></main-menu>

        <!-- Header Section Starts -->
         <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
        <purchase-breadcrumb></purchase-breadcrumb>

        <!-- Purchase Section Starts -->
        <purchase-section></purchase-section>

        <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
         <footer></footer>
         <home-footer></home-footer>
</div>
</template>

<script>
export default {
    name: "purchase",

}
</script>


<style scoped>

</style>