<template>

        <div>
           <section class="cart-section padding-top-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="single-cart-item">
                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4">
                                            <a href="#"><img src="assets/images/purchase-image-1.jpg" alt="image"></a>
                                        </div>
                                        <div class="col-lg-8">
                                            <h5><a href="#">ultimate photoshop training</a></h5>
                                            <span>by <a href="#">john doe</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>18 june 2020</h5><span>start date</span></li>
                                        <li><h5>free coupon</h5><span>end date</span></li>
                                        <li><h5>$ 16,99</h5><span>course price</span></li>
                                        <li><a href="#" class="template-button">remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-cart-item">
                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4">
                                            <a href="#"><img src="assets/images/purchase-image-2.jpg" alt="image"></a>
                                        </div>
                                        <div class="col-lg-8">
                                            <h5><a href="#">complete financial analysis</a></h5>
                                            <span>by <a href="#">chris doe</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>18 june 2020</h5><span>start date</span></li>
                                        <li><h5>free coupon</h5><span>end date</span></li>
                                        <li><h5>$ 16,99</h5><span>course price</span></li>
                                        <li><a href="#" class="template-button">remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-cart-item">
                            <div class="row align-items-center">
                                <div class="col-lg-5">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4">
                                            <a href="#"><img src="assets/images/purchase-image-3.jpg" alt="image"></a>
                                        </div>
                                        <div class="col-lg-8">
                                            <h5><a href="#">complete advance WP</a></h5>
                                            <span>by <a href="#">john doe</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <ul>
                                        <li><h5>18 june 2020</h5><span>start date</span></li>
                                        <li><h5>free coupon</h5><span>end date</span></li>
                                        <li><h5>$ 16,99</h5><span>course price</span></li>
                                        <li><a href="#" class="template-button">remove</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="cart-bottom-button margin-top-20 d-flex justify-content-between">
                            <a href="#" class="template-button">keep shopping</a>
                            <a href="#" class="template-button-2">update cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
</template>

<script>

export default {
name: "cart-section",

}
</script>

<style scoped>

</style>
