<template>

<div>
  <!-- Main Menu -->
        <main-menu></main-menu>

        <!-- Header Section Starts -->
       <header-section></header-section>
       

        <!-- Breadcrumb Section Starts -->
        <breadcrumb-cart-section></breadcrumb-cart-section>
        <!-- Cart Section Starts -->
        <cart-section></cart-section>

        <!-- Payment Section Starts -->
       <payment-section></payment-section>

        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>
    

        <!-- Footer Section Starts -->
        <footer-section></footer-section>
 


</div>



</template>

<script>

export default {
name: "cart",

}
</script>

<style scoped>

</style>
