<template>

        <div>
         <section class="Payment-section padding-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="coupon-part">
                            <h3>coupon code</h3>
                            <p class="margin-top-20">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum corporis dolor aperiam aut molestias eveniet sequi.</p>
                            <div class="coupon-code margin-top-30">
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Enter Coupon Code">
                                        <button type="submit"><i class="fa fa-plus"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="payment-part">
                            <h3>cart total : $3,699</h3>
                            <h5>tax : $100</h5>
                            <p class="margin-top-20">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum corporis dolor aperiam aut molestias eveniet sequi.</p>
                            <div class="payment-tab margin-top-20">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h5>select payment method</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="tab">
                                            <ul>
                                                <li class="tab-one active">
                                                    <img src="assets/images/stripe.png" alt="logo">
                                                </li>
                                                <li class="tab-second">
                                                    <img src="assets/images/paytm.png" alt="logo">
                                                </li>
                                                <li class="tab-three">
                                                    <img src="assets/images/paypal.png" alt="logo">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-content margin-top-30">
                                            <div class="tab-one-content lost active">
                                                <form action="#">
                                                    <div class="form-group">
                                                        <label for="cardName">Card Name</label>
                                                        <input type="text" id="cardName" placeholder="Card Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cardNumber">Card Number</label>
                                                        <input type="number" id="cardNumber" placeholder="Card Number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="expiryTime">Expiry Time</label>
                                                        <input type="month" id="expiryTime">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CVC">CVC Number</label>
                                                        <input type="number" id="CVC" placeholder="CVC Number">
                                                    </div>
                                                    <div class="proceed-button text-center margin-top-30">
                                                        <button type="submit" class="template-button">proceed</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-second-content lost">
                                                <form action="#">
                                                    <div class="form-group">
                                                        <label for="cardName2">Card Name</label>
                                                        <input type="text" id="cardName2" placeholder="Card Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cardNumber2">Card Number</label>
                                                        <input type="number" id="cardNumber2" placeholder="Card Number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="expiryTime2">Expiry Time</label>
                                                        <input type="month" id="expiryTime2">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CVC2">CVC Number</label>
                                                        <input type="number" id="CVC2" placeholder="CVC Number">
                                                    </div>
                                                    <div class="proceed-button text-center margin-top-30">
                                                        <button type="submit" class="template-button">proceed</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-three-content lost">
                                                <form action="#">
                                                    <div class="form-group">
                                                        <label for="cardName3">Card Name</label>
                                                        <input type="text" id="cardName3" placeholder="Card Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cardNumber3">Card Number</label>
                                                        <input type="number" id="cardNumber3" placeholder="Card Number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="expiryTime3">Expiry Time</label>
                                                        <input type="month" id="expiryTime3">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CVC3">CVC Number</label>
                                                        <input type="number" id="CVC3" placeholder="CVC Number">
                                                    </div>
                                                    <div class="proceed-button text-center margin-top-30">
                                                        <button type="submit" class="template-button">proceed</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          </div>
</template>

<script>

export default {
name: "payment-section",

}
</script>

<style scoped>

</style>
