<template>

<div>
  <!-- Header Section Starts -->
       <header-video-section></header-video-section>
        <!-- Course Video Section Starts -->
       <course-video-section></course-video-section>
        <!-- CTA Section Starts -->
        <CTA-section></CTA-section>
        <!-- Footer Section Starts -->
        <footer-section></footer-section>

</div>



</template>

<script>

export default {
name: "course-video",

}
</script>

<style scoped>

</style>
