<template>

        <div>
               <header class="header-section-backend">
            <!-- main Header Starts -->
            <div class="main-header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="header-left">
                                <div class="header-logo">
                                    <a href="index.html"><img src="assets/images/logo-both-color.png" alt="logo"></a>
                                </div>
                                <div class="header-title">
                                    <h5>WordPress Development Beginner to Pro</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="header-backend-buttons">
                                <a href="#" class="template-button">leave a rating</a>
                                <a href="#" class="template-button-2">share</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        </div>
</template>

<script>

export default {
name: "header-video-section",

}
</script>

<style scoped>

</style>
