<template>

<div>

         <!-- Main Menu -->
         <main-menu></main-menu>
       
          <!-- Header Section Starts -->
       <header-section></header-section>

        <!-- Breadcrumb Section Starts -->
      <breadcrumb-blog-detail></breadcrumb-blog-detail>

        <!-- Blog Content Section -->
        <blog-content></blog-content>
        <!-- CTA Section Starts -->
       <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <footer-section></footer-section>
        


 

</div>



</template>

<script>

export default {
name: "blog-detail",
   
}

</script>

<style scoped>

</style>
