<template>
<div>
      <!-- Main Menu -->
         <main-menu></main-menu>

        <!-- Header Section Starts -->
        <header-section></header-section>

        <!-- Hero Section Starts -->
        <hero-index></hero-index>

        <!-- Feature Section Starts -->
        <index-feature></index-feature>

        <!-- Categorry Section Starts -->
         <category></category>

        <!-- Course Section Starts -->
         <course-section></course-section>

        <!-- CounterUp Section Starts -->
         <CounterUp></CounterUp>

        <!-- Instructor Section Starts -->
         <instructor></instructor>

        <!-- About Section Starts -->
        <index-about></index-about>

        <!-- News Section Starts -->
         <news></news>

        <!-- CTA Section Starts -->
         <CTA-section></CTA-section>

        <!-- Footer Section Starts -->
        <footer></footer>
        <home-footer></home-footer>
         
</div>
</template>

<script>
export default {
    name: "index",

}
</script>


<style scoped>

</style>